@page "/about"

<PageTitle>About</PageTitle>

<h1 align="center">BookClub</h1>
<p align="center">The web app.</p>
<br />
<br />
<p align="center">Written by Brad Smalling</p>
<p align="center">Copyright © 2023 Island of Misfit Toys</p>
<p align="center">All rights reserved.</p>
<br />
<br />
<p align="center">Dedicated to Renée.</p>
