@page "/admin_settings"

<PageTitle>Settings</PageTitle>

<form>
    <table>
        <tr>
            <td>Setting 1</td>
            <td>Value 1</td>
        </tr>
        <tr>
            <td>Setting 2</td>
            <td>Value 2</td>
        </tr>
        <tr>
            <td>Setting 3</td>
            <td>Value 3</td>
        </tr>
    </table>
    <button>Save</button>
</form>
